#d1 {
    color: white;
    background-image: url('https://kenh14cdn.com/thumb_w/620/2020/8/2/img7347-1596374477544743290321-1596374498177716001478.png');
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
}

#d2 {
    width: 500px;
    height: 100px;
    background-color: black;
    
}